---
import Layout from '../../layouts/Layout.astro'
const posts = await Astro.glob('../../tutorials/**/index.mdx')
---

<Layout title="LearnVue Demos">
  <main class="container mt-8">
    <h1 class="text-3xl font-black text-white">Vue Demos</h1>

    <div class="grid grid-cols-12 gap-4 mt-8">
      {
        posts.map((post) => (
          <div class="col-span-12 mb-4 md:col-span-6">
            <h2 class="text-2xl font-bold text-medium">
              {post.frontmatter.title}
            </h2>
            <p>{post.frontmatter.description}</p>
            <div class="flex flex-wrap gap-2 mt-4">
              <a
                href={
                  'demo/' + post.url.split('/')[post.url.split('/').length - 2]
                }
                class="inline-block px-2 py-1 text-sm text-white rounded bg-green hover:bg-green-300"
              >
                See Demo
              </a>
              {post.frontmatter.youtube && (
                <a
                  href={post.frontmatter.youtube}
                  class="inline-block px-2 py-1 text-sm text-white bg-red-600 rounded hover:bg-red-500"
                  target="_blank"
                >
                  Watch on YouTube
                </a>
              )}
              {post.frontmatter.article && (
                <a
                  href={post.frontmatter.article}
                  class="inline-block px-2 py-1 text-sm rounded bg-charcoal-600 hover:bg-charcoal-500"
                  target="_blank"
                >
                  Read Article
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
