---
import '../styles/base.css';

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=inter:200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="text-gray-200 bg-charcoal">
    <header class="container flex items-center w-full h-16">
      <a
        href={new URL('/', Astro.url)}
        class="flex items-center h-16 hover:opacity-80"
      >
        <img
          src={import.meta.env.BASE_URL + 'logo-dark.svg'}
          class="h-[24px] mr-2"
        />
        <span class="text-lg font-extrabold text-white"> Learn</span>
        <span class="mr-2 text-lg font-extrabold text-green">Vue</span>
        <span class="px-2 text-sm text-white rounded bg-charcoal-600">
          Demos
        </span>
      </a>
      <a
        href="https://learnvue.co"
        class="px-2 py-1 ml-auto text-sm font-medium rounded hover:text-white bg-charcoal-600 hover:bg-charcoal-500"
      >
        Main Site</a
      >
    </header>
    <div>
      <slot />
    </div>
  </body>
</html>
